body{
    margin:0;
    background-color:  background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c9ff, #92fe9d);
}
label{
    color:#607d8b;
}